<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "ByggApp" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body class="bg-gray-100">
    <header class="bg-blue-900 text-white pb-40">
      <section class="container mx-auto px-2">
        <nav role="navigation" class="border-b border-blue-700">
          <div class="flex py-3">
            <%= nav_link @conn, "Jobs", to: Routes.job_path(@conn, :new) %>
            <%= nav_link @conn, "Logout", to: Routes.user_session_path(@conn, :delete), method: :delete %>
          </div>
        </nav>
      </section>
    </header>
    <main role="main" class="container mx-auto px-2 -mt-32">
      <h1 class="section-title"><%= assigns[:section_title] %></h1>
      <div class="bg-white shadow p-8 mt-6 rounded">
        <%= @inner_content %>
      </div>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
