<h1 class="text-blue-700 text-xl text-center mb-6">Register</h1>

<%= form_for @changeset, Routes.user_registration_path(@conn, :create), fn f -> %>
  <%= Form.text_input f, :email %>
  <%= Form.password_input f, :password %>
  <%= Form.submit "Register", class: "w-full" %>
<% end %>

<div class="mt-12 text-center">
  <p><%= link "Login", to: Routes.user_session_path(@conn, :new) %></p>
  <p><%= link "Forgot password?", to: Routes.user_reset_password_path(@conn, :new) %></p>
</div>