.small-caps {
  font-variant: small-caps;
}

.number-input-bare::-webkit-outer-spin-button,
.number-input-bare::-webkit-inner-spin-button  {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.number-input-bare[type=number] {
  -moz-appearance: textfield;
}
