#!/bin/bash

sudo systemctl stop {{ service }}
LANG="en_US.UTF-8" HOST_URL="{{ host }}" SECRET_KEY_BASE="{{ secret_key_base }}" DATABASE_URL="{{ db_url }}"  {{ path }}/bin/recake eval "Recake.ReleaseTasks.migrate()"
sudo systemctl start {{ service }}