#!/bin/bash

LANG="en_US.UTF-8" RELEASE_DISTRIBUTION="name" RELEASE_NODE="recake_{{ server_type }}@127.0.0.1" HOST_URL="{{ host }}" SECRET_KEY_BASE="{{ secret_key_base }}" DATABASE_URL="{{ db_url }}"  {{ path }}/bin/recake remote