[Unit]
Description=Runner for Recake - {{ server }}
After=network.target

[Service]
User={{ user }}
Group=wheel
WorkingDirectory=/home/{{ user }}/{{ directory }}
Environment=LANG=en_US.UTF-8
Environment=HOST_URL="{{ domain }}"
Environment=SECRET_KEY_BASE="{{ secret_key_base }}"
Environment=DATABASE_URL="postgresql://{{ db_user }}:{{ db_password }}@localhost/{{ db_name }}"
ExecStart=/home/{{ user }}/recake/bin/recake start
SyslogIdentifier=recake
RemainAfterExit=no
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target