<div class="card p-8 mt-6">
  <%= form_for @changeset, @action, fn f -> %>
    <%= Form.textarea_with_counter f, :description, rows: 6, label: gettext("Description") %>
    <%= Form.text_input f, :location, label: gettext("Location") %>
    <%= Form.layout_right do %>
      <%= Form.submit @submit_label %>
    <% end %>
  <% end %>
</div>
